/* Change font of whole page */
body {
    font-family: "Hind", serif;
    background-color: #d8e7f6;
}

/* Change font of headings */
h1, h2 {
    font-family: "Montserrat", serif;
}

/* Position and style heading */
h1 {
    text-align: center;
    margin: 40px 20px 50px 20px;
    /* font-weight: bold; */
    font-size: 60px;
    margin-left: 30px;
}

.clicker {
    display: none;
}

/* NAVIGATION */
li a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 20px 20px;
}

/* Style highlighted tab */
li.active {
    border: 2px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #d8e7f6;
}

ul.nav {
    list-style-type: none;
    padding: 15px 10px;
    background-color: #91b3d0;
    margin: 0px;
}

nav li {
    display: inline;
}

/* SKIP TO MAIN */
.skip {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    background-color: #faaf90;
}

.skip:focus {
    text-align: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    position: relative;
    margin-left: 45%;
}

/* INDEX */

/* Slideshows on index page */
* {
    box-sizing: border-box;
}

.pet-prev, .rec-prev, .trav-prev {
    display: none;
}

/* Style images */
.prevgrid img {
    vertical-align: middle;
    border: none;
}

.previewpages {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Style arrows on slideshows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: -10px;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: -30px;
    border-radius: 3px 0 0 3px;
}

/* Highlighted arrow state */
.prev:hover, .next:hover {
    background-color:#91b3d0;
    color: black;
}

.previewpages h2 {
    text-align: center;
    margin: 10px;
    color: black;
    font-weight: bold;
    background-color: transparent;
}

/* Make images have the same height in grid */
.backgroundprev {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

/* Make 3 grid rows for slideshows */
.prevgrid {
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

/* Style text on index page */
div p.index {
    margin: 0px 1em 20px 1em;
    font-size: large;
    text-align: center;
}

/* PETS */

/* Style pet gallery */
.grid, .grid-smoothie {
    display: grid;
    grid-template-columns: 175px 175px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    column-gap: 0px;
    justify-items: center;
    align-items: center;
}

/* Style pet gallery images and video */
.grid img, .grid video, .grid-smoothie img {
    height: 130px;
    overflow: hidden;
    width: auto;
    border: 2px solid #91b3d0;
}

img {
    max-height: auto;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 10px solid #91b3d0;
    margin-top: 0px;
    border-top: none;
}

.intro {
    display: grid;
    grid-template-rows: 10% 90%;
    row-gap: 30px;
    align-items: baseline;
    justify-items: center;
    margin: 20px;
}

/* TRAVEL */
.travgrid {
    display: grid;
    grid-template-columns: 175px 175px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin: 10px;
    row-gap: 20px;
}

.travgrid img {
    height: 100px;
    overflow: hidden;
    width: auto;
    align-items: center;
    justify-items: center;
    border: none;
}

.travgrid figure {
    border: 2px solid #91b3d0;
    padding: 5px;
}

.travgrid p {
    padding: 10px;
}

p {
    margin: 20px;
}

h2 {
    /* background-color: #233329; */
    color: black;
    margin: auto;
    padding: 15px;
    text-align: center;
    width: 300px;
    font-size: x-large;
    background-color: #91b3d0;
}

h3 {
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}

.likes li {
    border-top: 1px solid #d8e7f6;
    border-bottom: 1px solid #d8e7f6;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.likes {
    background-color: #91b3d0;
    color: black;
    margin: 10px;
    text-align: center;
    margin-bottom: 50px;
}

ul {
    list-style: disc;
    margin: 20px 50px;
}

ol {
    margin: 20px 50px;
    list-style: decimal;
}


/* Reduced Motion */
@media (prefers-reduced-motion) {
    video, .gif {
        display: none;
    }
}


/* RECIPES */
.gif, .food {
    border-top: 10px solid #91b3d0;
}

.recipe {
    background-color: #91b3d0;
    color: black;
    margin: auto;
    padding: 15px;
    text-align: center;
    width: 300px;
    font-weight: normal;
    font-size: smaller;
}

.recipeinfo {
    border-radius: 20px;
}

.foodpic {
    margin-bottom: 0px;
}

.foodgallery {
    font-weight: normal;
}

/* Tablet View */

@media screen and (min-width: 768px) {

    /* PETS */
    .petintro {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .petimg {
        display: grid;
        grid-row-start: 1;
    }

    .grid-smoothie img:hover {
        height: 300px;
        width: auto;
    }

    .grid, .grid-smoothie {
        grid-template-columns: 450px 450px;
        align-items: normal;
    }

    .grid img, .grid video {
        height: 300px;
        width: auto;
    }

    .grid-smoothie img {
        height: 200px;
        width: auto;
    }

    ul.likes {
        display: grid;
        align-self: center;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    .likes li {
        border-left: 2px solid #d8e7f6;
        border-right: 2px solid #d8e7f6;
        border-bottom: none;
        border-top: none;
    }

    /* RECIPES */

    .recipeintro {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 20px;
        align-items: center;
    }

    .additional {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .additional img {
        height: 150px;
        width: auto;
        transition: height 1s;
    }

    .additional img:hover {
        height: 200px;
        width: auto;
    }

    .recipeinfo {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        margin: 40px;
        /* align-items: normal; */
        column-gap: 20px;
    }

    .ingredients, .steps {
        border: 2px solid #91b3d0;
        padding: 15px;
    }

    /* TRAVEL */

    .travelintro {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        margin: 20px;
    }

    .travgrid {
        grid-template-columns: 50% 50%;
        margin: 20px;
    }

    .travgrid img, figcaption{
        width: 300px;
        height: auto;
    }
}

/* Desktop View */

@media screen and (min-width: 992px) {

    h1 {
        text-align: center;
    }

    /* INDEX */

    .indextitle {
        text-align: center;
    }

    /* Three columns in grid of slideshows */
    .prevgrid {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
    }

    .prevgrid img {
        border: 6px solid #91b3d0;
        border-radius: 3px;
    }

    /* Create margin for text */
    div p.index {
        margin: 20px 100px;
    }

    /* PETS */

    /* Set pet gallery to be all in one line */
    .grid, .grid-smoothie {
        grid-template-columns: 25% 25% 25% 25%;
        padding: 50px;
        background-color: #91b3d0;
    }

    .grid img, .grid video, .grid-smoothie img {
        align-self: center;
        border: 1px solid black;
    }

    .grid img, .grid video, .grid-smoothie img {
        transition: height 1s;
    }

    .grid img:hover, .grid video:hover {
        height: 400px;
        width: auto;
    }

    .petintro p {
        margin: 0px 100px;
    }

    .clicker {
        display: inline;
        text-align: center;
    }


    /* RECIPES */
    .additional img {
        height: 250px;
        width: auto;
        transition: height 1s;
    }

    .additional img:hover {
        height: 300px;
        width: auto;
    }

    .recipeintro {
        display: block;
    }

    .recipeintro p {
        text-align: center;
        margin: 30px;
        font-size: large;
    }

    /* TRAVEL */

    /* Set travel gallery to be all in one line */
    .travgrid {
        grid-template-columns: 25% 25% 25% 25%;
        margin: 20px;
    }

    .travgrid img {
        height: 175px;
        width: auto;
        transition: height 1s;
    }

    .travgrid img:hover {
        height: 230px;
        width: auto;
    }
}